In [ ]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import itertools

In [81]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#read csv file
df=pd.read_csv('https://drive.google.com/file/d/1jpcYbspYvJe6-pdKNwxBrWwhKKD-zz0a/view?usp=drive_link')

FileNotFoundError: [Errno 2] No such file or directory: '/https://drive.google.com/file/d/1jpcYbspYvJe6-pdKNwxBrWwhKKD-zz0a/view?usp=drive_links'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Columns: 785 entries, 7 to 0.667
dtypes: int64(785)
memory usage: 59.9 MB

In [ ]:
df.isnull().sum()

7        0
0        0
0.1      0
0.2      0
0.3      0
        ..
0.663    0
0.664    0
0.665    0
0.666    0
0.667    0
Length: 785, dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [7, 0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.10, 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.20, 0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.30, 0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.40, 0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.50, 0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.60, 0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.70, 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.80, 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.90, 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, ...]
Index: []

[0 rows x 785 columns]

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(9999, 785)

In [ ]:
for col in df.columns:
    print(f'column {col}')
    print('***********************************')
    print(df[col].value_counts(),'\n')

Streaming output truncated to the last 5000 lines.

column 0.401
***********************************
0.401
0      9991
170       1
214       1
106       1
37        1
57        1
5         1
188       1
36        1
Name: count, dtype: int64

column 0.402
***********************************
0.402
0      9996
29        1
75        1
106       1
Name: count, dtype: int64

column 0.403
***********************************
0.403
0    9999
Name: count, dtype: int64

column 0.404
***********************************
0.404
0    9999
Name: count, dtype: int64

column 0.405
***********************************
0.405
0      9987
254       1
176       1
210       1
245       1
40        1
53        1
89        1
61        1
1         1
253       1
46        1
4         1
Name: count, dtype: int64

column 0.406
***********************************
0.406
0      9924
253       4
64        3
2         2
12        2
       ...
192       1
244       1
54        1
14        1
164       1
Name: count, Length: 64, dtype: int64

column 0.407
***********************************
0.407
0      9600
254      24
253      24
255      13
13        8
       ...
40        1
179       1
225       1
115       1
220       1
Name: count, Length: 168, dtype: int64

column 0.408
***********************************
0.408
0      8869
253     135
254      69
252      57
255      47
       ...
148       1
160       1
142       1
129       1
117       1
Name: count, Length: 232, dtype: int64

column 0.409
***********************************
0.409
0      8091
253     318
252     172
254     102
255      60
       ...
78        1
91        1
105       1
182       1
135       1
Name: count, Length: 248, dtype: int64

column 0.410
***********************************
0.410
0      7181
253     494
252     242
254     164
255      83
       ...
130       1
67        1
139       1
33        1
80        1
Name: count, Length: 255, dtype: int64

column 0.411
***********************************
0.411
0      6416
253     633
252     312
254     256
255     108
       ...
217       2
104       2
60        2
160       2
65        2
Name: count, Length: 256, dtype: int64

column 0.412
***********************************
0.412
0      5953
253     740
254     384
252     311
255     126
       ...
153       2
145       2
83        2
131       2
89        1
Name: count, Length: 256, dtype: int64

column 0.413
***********************************
0.413
0      5602
253     690
254     413
252     343
255     175
       ...
68        3
115       3
58        3
100       2
118       2
Name: count, Length: 256, dtype: int64

column 0.414
***********************************
0.414
0      5347
253     769
254     409
252     396
255     144
       ...
117       4
210       4
52        4
65        4
219       3
Name: count, Length: 256, dtype: int64

column 0.415
***********************************
0.415
0      4958
253     869
252     512
254     461
255     169
       ...
76        3
117       3
35        3
80        3
204       1
Name: count, Length: 256, dtype: int64

column 0.416
***********************************
0.416
0      4366
253    1060
254     615
252     531
255     210
       ...
117       3
127       3
143       3
100       3
103       2
Name: count, Length: 256, dtype: int64

column 0.417
***********************************
0.417
0      3933
253    1163
254     741
252     499
255     269
       ...
54        4
108       4
117       4
103       3
127       2
Name: count, Length: 256, dtype: int64

column 126
***********************************
126
0      3602
253    1179
254     847
252     397
255     272
       ...
87        5
157       5
140       5
79        4
97        4
Name: count, Length: 256, dtype: int64

column 254.14
***********************************
254.14
0      3605
253    1169
254     792
252     499
255     220
       ...
138       5
74        4
33        4
143       3
110       3
Name: count, Length: 256, dtype: int64

column 182
***********************************
182
0      3781
253    1053
254     598
252     508
255     210
       ...
103       5
159       5
43        5
94        4
155       3
Name: count, Length: 256, dtype: int64

column 0.418
***********************************
0.418
0      4393
253    1009
252     476
254     473
255     190
       ...
176       4
159       3
105       3
39        3
87        2
Name: count, Length: 256, dtype: int64

column 0.419
***********************************
0.419
0      5441
253     916
254     395
252     372
255     174
       ...
183       3
177       2
103       2
121       1
138       1
Name: count, Length: 256, dtype: int64

column 0.420
***********************************
0.420
0      6417
253     679
252     268
254     250
255     163
       ...
134       2
74        2
90        2
127       2
129       2
Name: count, Length: 256, dtype: int64

column 0.421
***********************************
0.421
0      7465
253     414
252     171
254     142
255     102
       ...
157       1
156       1
60        1
174       1
77        1
Name: count, Length: 254, dtype: int64

column 0.422
***********************************
0.422
0      8393
253     225
252     108
254      72
255      41
       ...
74        1
176       1
60        1
90        1
142       1
Name: count, Length: 243, dtype: int64

column 0.423
***********************************
0.423
0      9116
253      87
252      48
254      30
255      16
       ...
101       1
81        1
209       1
149       1
85        1
Name: count, Length: 229, dtype: int64

column 0.424
***********************************
0.424
0      9631
253      26
252      14
1         7
48        7
       ...
124       1
78        1
199       1
183       1
207       1
Name: count, Length: 169, dtype: int64

column 0.425
***********************************
0.425
0      9902
1         5
147       3
253       3
5         3
       ...
77        1
112       1
138       1
20        1
133       1
Name: count, Length: 76, dtype: int64

column 0.426
***********************************
0.426
0      9987
71        1
89        1
140       1
49        1
25        1
41        1
1         1
22        1
19        1
23        1
98        1
9         1
Name: count, dtype: int64

column 0.427
***********************************
0.427
0      9996
121       1
106       1
13        1
Name: count, dtype: int64

column 0.428
***********************************
0.428
0    9999
Name: count, dtype: int64

column 0.429
***********************************
0.429
0      9998
126       1
Name: count, dtype: int64

column 0.430
***********************************
0.430
0      9984
71        2
245       1
253       1
48        1
191       1
148       1
170       1
38        1
80        1
225       1
102       1
152       1
143       1
138       1
Name: count, dtype: int64

column 0.431
***********************************
0.431
0      9895
253       7
255       5
254       5
213       2
       ...
81        1
214       1
46        1
183       1
178       1
Name: count, Length: 76, dtype: int64

column 0.432
***********************************
0.432
0      9550
253      37
254      32
255      21
252       9
       ...
5         1
178       1
36        1
176       1
51        1
Name: count, Length: 179, dtype: int64

column 0.433
***********************************
0.433
0      8817
253     163
252      79
254      72
255      42
       ...
172       1
86        1
63        1
45        1
33        1
Name: count, Length: 234, dtype: int64

column 0.434
***********************************
0.434
0      7994
253     308
252     182
254     122
255      69
       ...
158       1
124       1
87        1
122       1
194       1
Name: count, Length: 253, dtype: int64

column 0.435
***********************************
0.435
0      7190
253     496
252     242
254     178
255      95
       ...
131       1
159       1
193       1
115       1
176       1
Name: count, Length: 255, dtype: int64

column 0.436
***********************************
0.436
0      6548
253     657
252     300
254     246
255     123
       ...
138       1
123       1
224       1
97        1
117       1
Name: count, Length: 256, dtype: int64

column 0.437
***********************************
0.437
0      6095
253     722
254     350
252     296
255     144
       ...
103       3
187       2
139       1
146       1
68        1
Name: count, Length: 255, dtype: int64

column 0.438
***********************************
0.438
0      5784
253     762
254     390
252     323
255     168
       ...
149       2
159       2
105       2
186       1
155       1
Name: count, Length: 256, dtype: int64

column 0.439
***********************************
0.439
0      5614
253     744
254     403
252     398
255     159
       ...
135       3
133       3
117       3
73        3
154       1
Name: count, Length: 256, dtype: int64

column 0.440
***********************************
0.440
0      5230
253     839
252     483
254     422
255     163
       ...
104       3
132       3
117       2
146       2
83        1
Name: count, Length: 256, dtype: int64

column 0.441
***********************************
0.441
0      4689
253     953
254     556
252     472
255     220
       ...
105       4
139       3
140       2
108       2
186       2
Name: count, Length: 256, dtype: int64

column 75
***********************************
75
0      4082
253    1076
254     726
252     465
255     249
       ...
87        5
127       4
119       4
135       4
96        2
Name: count, Length: 256, dtype: int64

column 251
***********************************
251
0      3730
253    1204
254     793
252     412
255     237
       ...
72        5
127       5
52        4
97        3
103       3
Name: count, Length: 256, dtype: int64

column 240
***********************************
240
0      3531
253    1168
254     719
252     536
255     215
       ...
130       5
103       5
65        5
157       5
78        4
Name: count, Length: 256, dtype: int64

column 57
***********************************
57
0      3771
253    1123
254     578
252     549
255     208
       ...
69        5
131       5
166       4
120       4
97        4
Name: count, Length: 256, dtype: int64

column 0.442
***********************************
0.442
0      4478
253    1079
252     515
254     458
255     213
       ...
205       3
101       3
90        3
171       3
65        1
Name: count, Length: 256, dtype: int64

column 0.443
***********************************
0.443
0      5469
253     924
252     434
254     352
255     176
       ...
136       2
103       2
83        2
101       2
152       2
Name: count, Length: 256, dtype: int64

column 0.444
***********************************
0.444
0      6532
253     662
252     250
254     230
255     144
       ...
69        2
130       2
160       2
58        2
105       1
Name: count, Length: 255, dtype: int64

column 0.445
***********************************
0.445
0      7605
253     371
252     156
254     108
255      91
       ...
152       1
181       1
124       1
142       1
176       1
Name: count, Length: 253, dtype: int64

column 0.446
***********************************
0.446
0      8532
253     181
252      95
254      65
255      36
       ...
190       1
34        1
160       1
229       1
54        1
Name: count, Length: 250, dtype: int64

column 0.447
***********************************
0.447
0      9237
253      60
252      42
254      18
10       12
       ...
242       1
178       1
114       1
81        1
36        1
Name: count, Length: 222, dtype: int64

column 0.448
***********************************
0.448
0      9690
253      16
252      11
50        7
5         6
       ...
170       1
192       1
72        1
207       1
199       1
Name: count, Length: 158, dtype: int64

column 0.449
***********************************
0.449
0      9911
253       6
252       3
128       3
131       3
       ...
2         1
227       1
81        1
99        1
76        1
Name: count, Length: 68, dtype: int64

column 0.450
***********************************
0.450
0      9989
84        1
190       1
247       1
148       1
244       1
25        1
143       1
140       1
228       1
75        1
Name: count, dtype: int64

column 0.451
***********************************
0.451
0      9998
101       1
Name: count, dtype: int64

column 0.452
***********************************
0.452
0    9999
Name: count, dtype: int64

column 0.453
***********************************
0.453
0      9998
255       1
Name: count, dtype: int64

column 0.454
***********************************
0.454
0      9980
61        1
4         1
10        1
51        1
7         1
41        1
30        1
254       1
233       1
229       1
230       1
247       1
222       1
48        1
60        1
131       1
118       1
127       1
65        1
Name: count, dtype: int64

column 0.455
***********************************
0.455
0      9856
255      13
254       8
4         4
24        4
       ...
175       1
230       1
124       1
224       1
67        1
Name: count, Length: 96, dtype: int64

column 0.456
***********************************
0.456
0      9497
253      52
254      35
255      27
252      17
       ...
84        1
138       1
120       1
218       1
234       1
Name: count, Length: 186, dtype: int64

column 0.457
***********************************
0.457
0      8745
253     176
252      61
255      59
254      57
       ...
179       1
188       1
51        1
208       1
33        1
Name: count, Length: 246, dtype: int64

column 0.458
***********************************
0.458
0      7914
253     401
252     141
254     127
255      71
       ...
173       1
153       1
71        1
100       1
183       1
Name: count, Length: 251, dtype: int64

column 0.459
***********************************
0.459
0      7102
253     574
252     247
254     204
255     103
       ...
162       1
45        1
135       1
38        1
147       1
Name: count, Length: 254, dtype: int64

column 0.460
***********************************
0.460
0      6419
253     733
252     304
254     262
255     127
       ...
70        2
88        1
157       1
177       1
97        1
Name: count, Length: 255, dtype: int64

column 0.461
***********************************
0.461
0      5889
253     801
254     357
252     322
255     171
       ...
207       3
105       2
136       2
98        2
121       2
Name: count, Length: 254, dtype: int64

column 0.462
***********************************
0.462
0      5539
253     886
254     413
252     346
255     208
       ...
111       2
103       2
109       2
174       1
101       1
Name: count, Length: 256, dtype: int64

column 0.463
***********************************
0.463
0      5240
253     918
254     453
252     413
255     177
       ...
192       3
78        3
49        3
95        2
143       1
Name: count, Length: 256, dtype: int64

column 0.464
***********************************
0.464
0      4940
253     978
254     518
252     468
255     179
       ...
124       4
39        3
93        3
119       3
77        2
Name: count, Length: 256, dtype: int64

column 19
***********************************
19
0      4331
253    1089
254     646
252     425
255     233
       ...
101       3
90        3
124       3
58        3
165       2
Name: count, Length: 256, dtype: int64

column 221
***********************************
221
0      3807
253    1171
254     750
252     467
255     301
       ...
133       5
90        4
91        4
184       4
167       3
Name: count, Length: 256, dtype: int64

column 254.15
***********************************
254.15
0      3424
253    1279
254     879
252     435
255     324
       ...
101       4
88        4
65        3
119       1
90        1
Name: count, Length: 256, dtype: int64

column 166
***********************************
166
0      3330
253    1315
254     715
252     529
255     247
       ...
93        5
149       5
120       5
87        5
167       5
Name: count, Length: 256, dtype: int64

column 0.465
***********************************
0.465
0      3822
253    1327
254     571
252     537
255     242
       ...
75        4
136       4
123       2
39        2
127       1
Name: count, Length: 256, dtype: int64

column 0.466
***********************************
0.466
0      4632
253    1104
252     502
254     446
255     218
       ...
105       3
67        2
177       2
93        2
149       2
Name: count, Length: 256, dtype: int64

column 0.467
***********************************
0.467
0      5680
253     855
252     394
254     277
255     218
       ...
130       2
71        1
155       1
66        1
67        1
Name: count, Length: 256, dtype: int64

column 0.468
***********************************
0.468
0      6804
253     560
252     235
254     178
255     137
       ...
202       2
230       2
105       1
161       1
130       1
Name: count, Length: 256, dtype: int64

column 0.469
***********************************
0.469
0      7896
253     300
252     126
254      88
255      77
       ...
229       1
178       1
26        1
61        1
166       1
Name: count, Length: 253, dtype: int64

column 0.470
***********************************
0.470
0      8789
253     145
252      60
254      43
255      27
       ...
166       1
77        1
200       1
197       1
63        1
Name: count, Length: 247, dtype: int64

column 0.471
***********************************
0.471
0      9363
253      57
252      24
254      15
10       14
       ...
55        1
223       1
169       1
201       1
203       1
Name: count, Length: 209, dtype: int64

column 0.472
***********************************
0.472
0      9745
253      18
252       7
254       6
255       6
       ...
103       1
117       1
78        1
199       1
124       1
Name: count, Length: 155, dtype: int64

column 0.473
***********************************
0.473
0      9920
253       5
64        4
202       3
13        2
       ...
63        1
51        1
98        1
252       1
7         1
Name: count, Length: 64, dtype: int64

column 0.474
***********************************
0.474
0      9987
10        1
84        1
190       1
62        1
6         1
170       1
63        1
168       1
154       1
253       1
17        1
59        1
Name: count, dtype: int64

column 0.475
***********************************
0.475
0     9998
20       1
Name: count, dtype: int64

column 0.476
***********************************
0.476
0    9999
Name: count, dtype: int64

column 0.477
***********************************
0.477
0     9998
36       1
Name: count, dtype: int64

column 0.478
***********************************
0.478
0      9973
23        2
107       1
49        1
9         1
55        1
13        1
103       1
88        1
191       1
113       1
51        1
195       1
200       1
146       1
136       1
255       1
253       1
2         1
18        1
21        1
7         1
118       1
75        1
172       1
244       1
Name: count, dtype: int64

column 0.479
***********************************
0.479
0      9833
255      12
254      11
252       4
191       4
       ...
53        1
169       1
231       1
146       1
190       1
Name: count, Length: 106, dtype: int64

column 0.480
***********************************
0.480
0      9496
253      54
252      27
255      25
254      23
       ...
151       1
233       1
248       1
171       1
50        1
Name: count, Length: 186, dtype: int64

column 0.481
***********************************
0.481
0      8759
253     159
252      66
254      51
255      48
       ...
186       1
166       1
119       1
74        1
104       1
Name: count, Length: 239, dtype: int64

column 0.482
***********************************
0.482
0      7909
253     369
252     162
254     120
255      74
       ...
116       1
14        1
130       1
152       1
174       1
Name: count, Length: 252, dtype: int64

column 0.483
***********************************
0.483
0      7012
253     580
252     254
254     185
255     106
       ...
33        2
99        2

In [ ]:
df.describe()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
count,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.000000,9999.000000,9999.000000,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
mean,4.443144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.179318,0.163616,0.052605,0.000600,0.0,0.0,0.0,0.0,0.0,0.0
std,2.895897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.674433,5.736359,2.420125,0.060003,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,253.000000,156.000000,6.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# drow boxplot of PhysicalHealth
def boxplot_drawer(Column_Name):
    sns.boxplot(y=Column_Name,data=df)

In [ ]:
def Remove_outliers(Column_Name):
    q1=df[Column_Name].quantile(0.25)
    q3=df[Column_Name].quantile(0.75)
    iqr=q3-q1
    df[Column_Name][(df[Column_Name]<(q1-1.5*iqr))|(df[Column_Name]>(q3+1.5*iqr))]=np.nan

In [ ]:
df.isnull().sum()

7        0
0        0
0.1      0
0.2      0
0.3      0
        ..
0.663    0
0.664    0
0.665    0
0.666    0
0.667    0
Length: 785, dtype: int64

In [ ]:
df.dropna(inplace=True)

In [76]:
plt.figure(figsize=(10, 6))
sns.violinplot(x='cp', y='age', data=df, hue='output', split=True, palette='Set2')
plt.xlabel('Chest Pain Type')
plt.ylabel('Age')
plt.title('Age vs. Chest Pain Type with Heart Disease')
plt.show()

SyntaxError: positional argument follows keyword argument (<ipython-input-76-ad2815456f21>, line 2)

In [ ]:
plt.figure(figsize=(8, 6))
plt.scatter(df['age'], df['thalachh'], c=df['output'], cmap='viridis')
plt.xlabel('Age')
plt.ylabel('Max Heart Rate (thalachh)')
plt.title('Age vs. Max Heart Rate')
plt.colorbar(label='Heart Disease')
plt.show()

In [ ]:
sns.pairplot(df[['age', 'trtbps', 'chol', 'thalachh', 'output']], hue='output', diag_kind='kde', palette='husl')
plt.suptitle('Pairwise Relationships and Distributions')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x='cp', y='chol', data=df, ci='sd', palette='pastel')
plt.xlabel('Chest Pain Type')
plt.ylabel('Average Cholesterol Level')
plt.title('Average Cholesterol Level by Chest Pain Type')
plt.show()

ValueError: Could not interpret value `cp` for `x`. An entry with this name does not appear in `data`.

In [ ]:
import matplotlib.pyplot as plt

plt.hist(df['age'], bins=20, color='skyblue')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Age Distribution')
plt.show()

In [ ]:
import seaborn as sns

sns.boxplot(x='sex', y='chol', data=df)
plt.xlabel('Sex')
plt.ylabel('Cholesterol Level')
plt.title('Cholesterol Level by Sex')
plt.show()

In [ ]:
import seaborn as sns

sns.countplot(x='cp', data=df)
plt.xlabel('Chest Pain Type')
plt.ylabel('Count')
plt.title('Distribution of Chest Pain Type')
plt.show()

In [ ]:
plt.figure(figsize=(6, 6))
labels = ['No Heart Disease', 'Heart Disease']
sizes = df['output'].value_counts()
plt.pie(sizes, labels=labels, autopct='%1.1f%%', colors=['lightcoral', 'lightskyblue'])
plt.title('Distribution of Heart Disease')
plt.show()

In [ ]:
plt.figure(figsize=(6, 6))
labels = ['Type 0', 'Type 1', 'Type 2', 'Type 3']
sizes = df['cp'].value_counts()
plt.pie(sizes, labels=labels, autopct='%1.1f%%', colors=['lightcoral', 'lightskyblue', 'lightgreen', 'lightyellow'])
plt.title('Distribution of Chest Pain Type')
plt.show()

In [ ]:
plt.figure(figsize=(6, 6))
labels = ['Fasting Sugar < 120 mg/dl', 'Fasting Sugar >= 120 mg/dl']
sizes = df['fbs'].value_counts()
plt.pie(sizes, labels=labels, autopct='%1.1f%%', colors=['lightcoral', 'lightskyblue'])
plt.title('Distribution of Fasting Blood Sugar')
plt.show()

In [ ]:
plt.figure(figsize=(6, 6))
labels = ['Type 0', 'Type 1', 'Type 2']
sizes = df['restecg'].value_counts()
plt.pie(sizes, labels=labels, autopct='%1.1f%%', colors=['lightcoral', 'lightskyblue', 'lightgreen'])
plt.title('Distribution of Resting Electrocardiographic Results')
plt.show()

In [ ]:
plt.figure(figsize=(6, 6))
labels = ['No', 'Yes']
sizes = df['exng'].value_counts()
plt.pie(sizes, labels=labels, autopct='%1.1f%%', colors=['lightcoral', 'lightskyblue'])
plt.title('Distribution of Exercise-Induced Angina')
plt.show()

In [ ]:
# Explore the distribution of numerical features
numeric_features = ['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']
df[numeric_features].hist(bins=15, figsize=(12, 6))
plt.show()

In [ ]:
# Explore the distribution of categorical features
plt.figure(figsize=(12, 6))
sns.countplot(x='sex', data=df, hue='output')
plt.title('Distribution of Heart Disease by Gender')
plt.show()

In [ ]:
color = '#a9cce3'
df.hist(bins=15,figsize=(25,15),color=color)
plt.rcParams['font.size'] = 18
plt.show()

In [ ]:
corr=df.corr()
mask=np.triu(np.ones_like(corr,dtype=bool))
f,ax = plt.subplots(figsize=(15,12))
cmap = sns.diverging_palette(230,20, as_cmap=True)
sns.heatmap(corr,cmap=cmap,mask=mask,linewidth=0.5,square=True,center=0)

In [ ]:
df

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(df.corr(), annot=True, vmin=-1, vmax=1,fmt=".2f")

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
# Split the data into features (X) and target variable (y)
X = df.drop(columns=['output'])
y = df['output']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Standardize features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# Create and train a logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

In [ ]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [ ]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

In [ ]:
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.linear_model import LinearRegression ,LogisticRegression

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC ,SVR

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

from sklearn.pipeline import Pipeline

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import r2_score, mean_absolute_error ,mean_squared_error, median_absolute_error,confusion_matrix,accuracy_score

In [ ]:
#data preprocessing
numeric_columns = ['trtbps', 'chol', 'thalachh', 'oldpeak']

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler on the data and transform the selected columns
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

In [ ]:
LR_model = LogisticRegression()
LR_model.fit(X_train,y_train)
y_pred_LR = LR_model.predict(X_test)

# Model Evaluation
print("Score the X-train with Y-train is : ", LR_model.score(X_train,y_train))
print("Score the X-test  with Y-test  is : ", LR_model.score(X_test,y_test))
print("Model Evaluation Logistic R : mean absolute error is ", mean_absolute_error(y_test,y_pred_LR))
print("Model Evaluation Logistic R : mean squared  error is " , mean_squared_error(y_test,y_pred_LR))
print("Model Evaluation Logistic R : median absolute error is " ,median_absolute_error(y_test,y_pred_LR))

print("Model Evaluation Logistic R : accuracy score " , accuracy_score(y_test,y_pred_LR))

In [ ]:
#DecisionTreeClassifier

Tree_model=DecisionTreeClassifier(max_depth=10)

# fit model
Tree_model.fit(X_train,y_train)
y_pred_T =Tree_model.predict(X_test)

# Score X and Y - test and train
print("Score the X-train with Y-train is : ", Tree_model.score(X_train,y_train))
print("Score the X-test  with Y-test  is : ", Tree_model.score(X_test,y_test))
print("Model Evaluation Decision Tree : accuracy score " , accuracy_score(y_test,y_pred_T))

In [ ]:
#DecisionTreeClassifier

Tree_model=DecisionTreeClassifier(max_depth=10)

# fit model
Tree_model.fit(X_train,y_train)
y_pred_T =Tree_model.predict(X_test)

# Score X and Y - test and train
print("Score the X-train with Y-train is : ", Tree_model.score(X_train,y_train))
print("Score the X-test  with Y-test  is : ", Tree_model.score(X_test,y_test))
print("Model Evaluation Decision Tree : accuracy score " , accuracy_score(y_test,y_pred_T))

In [ ]:
# Model Preperation:
X = df.drop(columns="output")
y = df.output

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=3)
print(X.shape)
print(y.shape)

In [ ]:
# Select  Important columns

a = Tree_model.feature_importances_.tolist()
df_result=pd.DataFrame()
df_result["Columns"] = X_train.columns
df_result["Important Rate"] = a
df_result = df_result.sort_values(by="Important Rate", ascending=False)

df_result=df_result.reset_index(drop=True)

df_result

In [ ]:
# using the model SVC
svc_model=SVC()

# fit model
svc_model.fit(X_train,y_train)

y_pred_svc =svc_model.predict(X_test)

print("Score the X-train with Y-train is : ", svc_model.score(X_train,y_train))
print("Score the X-test  with Y-test  is : ", svc_model.score(X_test,y_test))
print("Model Evaluation Decision Tree : accuracy score " , accuracy_score(y_test,y_pred_svc))

In [ ]:
# using the model SVR

svr_model=SVR(degree=1,coef0=1, tol=0.001, C=1.5,epsilon=0.001)

# fit model
svr_model.fit(X_train,y_train)

y_pred_svr =svc_model.predict(X_test)

print("Score the X-train with Y-train is : ", svr_model.score(X_train,y_train))
print("Score the X-test  with Y-test  is : ", svr_model.score(X_test,y_test))
print("Model Evaluation Decision Tree : accuracy score " , accuracy_score(y_test,y_pred_svr))

In [ ]:
# using the model K Neighbors Classifier

K_model = KNeighborsClassifier(n_neighbors = 11)
K_model.fit(X_train, y_train)

y_pred_k = K_model.predict(X_test)

print("Score the X-train with Y-train is : ", K_model.score(X_train,y_train))
print("Score the X-test  with Y-test  is : ", K_model.score(X_test,y_test))
print("Model Evaluation K Neighbors Classifier : accuracy score " , accuracy_score(y_test,y_pred_k))

In [ ]:
# using the model Random Forest Classifier

RF_model = RandomForestClassifier(n_estimators = 300)
RF_model.fit(X_train, y_train)

y_pred_r = RF_model.predict(X_test)

print("Score the X-train with Y-train is : ", RF_model.score(X_train,y_train))
print("Score the X-test  with Y-test  is : ", RF_model.score(X_test,y_test))
print("Model Evaluation Random Forest Classifier : accuracy score " , accuracy_score(y_test,y_pred_r))

In [ ]:
# Using GridSearchCv
pipe = Pipeline([
    ("scl", StandardScaler()),
    ("Classifier", LogisticRegression())
])

# Define the parameter grid for LogisticRegression
param_grid = [
    {"Classifier": [LogisticRegression()],
     "Classifier__C": np.logspace(-3, 3, 50),
     "Classifier__penalty": ["l1", "l2"],
     "Classifier__solver": ["liblinear"]
    }
    ,
     {"Classifier": [SVC()],
      "Classifier__C": np.logspace(-3, 3, 50),
      "Classifier__degree": np.arange(1,5),
      "Classifier__gamma": ["scale","auto"],
      "Classifier__decision_function_shape":["ovo", "ovr"]
     }
    ]

# Perform GridSearchCV with only Logistic Regression
g_search = GridSearchCV(pipe, param_grid=param_grid, scoring="f1", cv=10, n_jobs=-1)

In [ ]:
g_search.fit(X_train, y_train)

In [ ]:
print("Best Train Score: ", g_search.best_score_)
print("Best Params: ", g_search.best_params_)
print("Best Test Score : ",g_search.score(X_test, y_test))

In [ ]:

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# Split the data into features (X) and target variable (y)
X = df.drop(columns=['output'])
y = df['output']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features (optional, but often beneficial)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Reshape data for RNN input (sequence length, number of features)
X_train = X_train.reshape(X_train.shape[0], 1, X_train.shape[1])
X_test = X_test.reshape(X_test.shape[0], 1, X_test.shape[1])

# Build the RNN model
model = keras.Sequential([
    layers.SimpleRNN(50, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])),
    layers.Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Accuracy: {accuracy}')

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping

# Define your RNN model
model = Sequential()
model.add(LSTM(units=64, return_sequences=True, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dropout(0.2))
model.add(LSTM(units=64, return_sequences=True))
model.add(Dropout(0.2))
model.add(Dense(units=1))

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error', metrics=['accuracy'])

# Define early stopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

# Train the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test), callbacks=[early_stopping])

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Loss: {loss}, Accuracy: {accuracy}")

# Plot training history (loss and accuracy)
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 4))

# Plot training & validation loss values
plt.subplot(121)
plt.plot(history.history['loss'], label='Train')
plt.plot(history.history['val_loss'], label='Validation')
plt.title('Model Loss')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend()

# Plot training & validation accuracy values
plt.subplot(122)
plt.plot(history.history['accuracy'], label='Train')
plt.plot(history.history['val_accuracy'], label='Validation')
plt.title('Model Accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend()

plt.tight_layout()
plt.show()

In [ ]:
test_accuracy = 0.8524590134620667

# Convert the test accuracy to a percentage string
accuracy_percentage = f"{test_accuracy * 100:.2f}%"

# Print the accuracy as a percentage
print(f"Test Accuracy: {accuracy_percentage}")